.elements__like {
  background-image: url(../../../images/like_btn.svg);
  width: 20.76px;
  height: 18.13px;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  background-color: white;
  background-size: contain;
  transition: .3s ease;
  cursor: pointer;
  background-repeat: no-repeat;
  margin-bottom: 3px;
}

.elements__like:hover {
  opacity: 0.6;
}